@page
@model WebApp.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/linkButtons.css" asp-append-version="true" />
</head>
<h1>Delete</h1>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Ученик</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.BirthDate)
        </dd>>
    </dl>
        <div class="form-group">
            <input type="submit" value="Изтрий" class="buttonCreate" style="width:70 px;height:30px;" />
        </div>
   
    
    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-page="./Index" class="linkbutton">Обратно към дневник</a>
    </form>
</div>
