@page
@model WebApp.Pages.Marks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Дневник</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Stud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mark) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>

            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Детайли</a> 
            </td>

        </tr>
}
    </tbody>
</table>
