@page
@model WebApp.Pages.Marks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Оценка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Stud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Stud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Teacher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mark?.Id">Промени</a> |
    <a asp-page="./Index">Обратно към дневник</a>
</div>
