@page
@model WebApp.Pages.Marks.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/linkButtons.css" asp-append-version="true" />
</head>

<h1>Дневник</h1>

<p>
    <button class="buttonAddStudentAndGrade" style="width:300px;height:29px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
            <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        <a asp-page="Create" class="text-white">Добави оценка</a>
    </button>

    <button class="buttonAddStudentAndGrade" style="width:300px;height:29px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
        <a asp-page="/Students/Create" class="text-white">Добави нов ученик</a>
    </button>
    
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Stud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mark) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="linkbutton">Промени</a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="linkbutton">Детайли</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="linkbutton">Премахни</a>
            </td>
        </tr>

}
    </tbody>
</table>
