@page
@model WebApp.Pages.Marks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Дневник</h1>

<p>
    <a asp-page="Create">Добави оценка</a>
    <a asp-page="/Students/Create">Добави нов ученик</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Stud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mark) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Промени</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Премахни</a>
            </td>
        </tr>

}
    </tbody>
</table>
